In [1]:
import pandas as pd # type: ignore

In [2]:
df = pd.read_csv('C:/xampp/htdocs/Python/PythonDataset/dataset1.csv',encoding='latin-1',sep=';')

In [3]:
filtrar = (df['Year']>2020) & (df['Numer']> 5)

In [4]:
df2=df[filtrar].head(5).reset_index(drop=True)

In [5]:
df2

   Year             Area  Numer Poblacion  otro
0  2021        Usaquï¿½n     17   106.732  15,9
1  2021  San Cristï¿½bal     18   102.808  17,5
2  2021             Usme     12   112.474  10,7
3  2021       Tunjuelito      9    42.755  21,1
4  2021             Bosa     34   193.115  17,6

In [6]:
df2.iloc[1,2]

18

In [7]:
print(df2.loc[0, 'Year'])

2021

In [8]:
print(df2[(df2['Year']==2021) & (df2['Numer']>=12)])

   Year             Area  Numer Poblacion  otro
0  2021        Usaquï¿½n     17   106.732  15,9
1  2021  San Cristï¿½bal     18   102.808  17,5
2  2021             Usme     12   112.474  10,7
4  2021             Bosa     34   193.115  17,6